[Desktop Entry]
Type=Application
Name=WMaker Inkscape
Exec=wmaker-open-inkscape
Terminal=false
Categories=Graphics;VectorGraphics;
StartupNotify=true
