[Desktop Entry]
Type=Application
Name=WMaker Terminal
Exec=wmaker-open-terminal
Terminal=false
Categories=System;TerminalEmulator;
StartupNotify=true
